<!DOCTYPE html>
<html>
    <head>
        <title>Students Table</title>
    </head>
    <body>
        <h1>Notas dos Alunos</h1>
        <table>
            <thead>
                <tr>
                    <th>Alunos</th>
                    <th>Notas</th>
                </tr>
            </thead>
            <tbody>
                {% for index, row in df.iterrows() %}
                <tr>
                    <td>{{ row['alunos'] }}</td>
                    <td>{{ row['notas'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
