<!DOCTYPE html>
<html>
    <head>
        <title>Students Table</title>
    </head>
    <body>
        <h1>Student Grades</h1>
        <table>
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for index, row in df.iterrows() %}
                <tr>
                    <td>{{ row['student'] }}</td>
                    <td>{{ row['grade'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
